<div>
  <%= tag.img src:"../images/capacitor大图.png", style: "width: 100%; height: 400px; margin-left:auto; margin-right:auto; display: block;" %>
</div>

<div class="card" style="margin-top:10px;">
  <div class="card-header bg-light">电容式传感器</div>
  <div class="card-body">
    <span>
      <%= link_to(tag.img(src:"../images/capacitor-2.png", alt:"", style: "width: 300px; height: 200px; ", class: 'img-thumbnail'), "/") %>
    <span>
    <span>
      <%= link_to(tag.img(src:"../images/capacitor-3.png", alt:"", style: "width: 300px; height: 200px; ", class: 'img-thumbnail'), "/") %>
    </span>
    <span>
      <%= link_to(tag.img(src:"../images/capacitor-4.png", alt:"", style: "width: 300px; height: 200px; ", class: 'img-thumbnail'), "/") %>
    </span>
  </div>
</div>

<div class="card capacitor" style="margin-top:10px;">
  <div class="card-header bg-light">非接触精密传感器 专家级解决方案</div>
  <div class="card-body">
    <h3>基本原理</h3>
    <p>当两个导电面相互靠近时，二者之间即产生一种电特性，称为电容。电容大小取决于两个导体之间的距离和材料，电容式传感器利用电 场测量探头表面和导电目标之间的电容变化。</p>
    <h3>导电目标</h3>
    <p>如果两个导电面之间的材料保持不变，则仅二者之间的距离变化即可导致电容变化。电容式传感器经校准后，当探头与导电目标之间的 距离变化既定时，可产生重复性输出。该项技术适用于测量范围小 (10 微米- 12000 微米)、分辨率最低为 0.05 纳米的情况。</p>
    <h3>非导电目标</h3>
    <p>电容亦取决于探头与导电目标表面之间的材料，如果探头与测量目标之间的距离固定，则电容式传感器可检测到二者之间的材料变化。 该项技术不仅通常用于检测材料厚度的变化、材料密度或体积变化，而且可用于检测材料成分的变化。</p>
    <h3>最大限度地提高精确度</h3>
    <p>电容式传感器处于高分辨率时的精确度可能会受到环境和测量设置的极大影响，探头必须置于稳定的机械系统中，同时其所处的周围 环境亦须稳定。因为即使最轻微的温度变化也可导致高分辨率电容式传感器所测目标范围的扩大，这并不是传感器系统产生的误差，这 个位移是温度引起的实际位移。</p>
    <h3>分辨率</h3>
    <p>分辨率是一个测量系统能够测量的最小单位，分辨率实质上是对传感器输出时存在的电噪声的测量。电容式传感器的分辨率是系统带 宽所具备的功能，带宽越低，分辨率越高。在对比规格时，应确保您了解与带宽相对应的指定分辨率。 如需查看电容式传感器完整的教程技术说明，请登陆:www.lionprecision.com;然后点击 Technical Library(技术图书馆)。</p>
  </div>
</div>

<div class="card" style="margin-top:10px;">
  <div class="card-header bg-light">驱动器参数</div>
  <div class="card-body">
    <span>
      <%= tag.img(src:"../images/capacitor-1.png", alt:"", style: "width: 100%; height: auto; ", class: 'img-thumbnail') %>
    <span>
  </div>
</div>
