<div id="spindlesea">
<h1 style="font-size: 40px;margin:20px;">
  主轴误差分析仪（SEA）
</h1>
<div class="card" style="margin-top:10px;">
  <div class="card-header bg-light"><b>SEA样式</b></div>
  <div class="card-body" style="padding:10px;">
    <div class="row">
      <div class="col-4" style=" ">
        <p align="center"><%= tag.img(src:"http://localhost:3000/images/sea-1.jpg", alt:"sea", style: "width: 100%; height: 200px;", class: 'img-thumbnail') %></p>
      </div>
      <div class="col-4" style=" ">
        <p align="center"><%= tag.img(src:"http://localhost:3000/images/sea-2.jpg", alt:"sea", style: "width: 100%; height: 200px;", class: 'img-thumbnail') %></p>
      </div>
      <div class="col-4" style=" ">
        <p align="center"><%= tag.img(src:"http://localhost:3000/images/sea-4.jpg", alt:"sea", style: "width: 100%; height: 200px;", class: 'img-thumbnail') %></p>
      </div>
    </div>
  </div>
</div>

<p>主轴回转误差分析仪可测量机床主轴以操作速度运行时的回转运动。然后分析并报告降低零件质量的运动误差。此类测量可协助排除故障、提高零件质量，并且避免不必要的主轴调整（这是一个非常普遍的现象）。</p>
<ul>
  <li>在生产坏件之前，发现问题。 </li>
  <li>在验收之前，检验/测试机器性能。</li>
  <li>查找造成加工误差的根本原因</li>
</ul>
<h2>一套完整的测量系统包括：</h2>
<ul>
  <li>高分辨率的电容式位移传感器</li>
  <li>精密的球形或圆柱形目标</li>
  <li>坚固耐用的传感器安装硬件</li>
  <li>数据采集元件</li>
  <li>用于分析运动误差的专利软件</li>
</ul>
<h2>预测和防止零件误差</h2>
<p>制造商通过机器评估可预测和防止出现零件误差，例如：</p>
<ul>
  <li> 表面光洁度</li>
  <li> 功能位置</li>
  <li> 圆度</li>
</ul>
<h2>查找和消除主轴运动误差源</h2>
<ul>
  <li>脱离圆形轴承部件</li>
  <li> 轴承座错位</li>
  <li> 轴承磨损</li>
  <li> 不当预载</li>
  <li> 结构振动</li>
  <li> 硬度不够</li>
  <li> 机器的共振频率</li>
</ul>
<h2>符合国际标准</h2>
<p>主轴回转误差分析仪按照下列标准执行测试：<br><strong>ANSI/ASME 标准 B5.54-2005</strong>，“数控加工中心性能评估方法”<br> <strong>ANSI/ASME B5.57-1998</strong>“数控车削中心性能评估方法”<br> <strong>ANSI/ASME B89.3.4-2010</strong>，“旋转轴的规定和试验方法” <br> <strong>ISO230-3</strong>，机床测试规范第 3 部分，“热效应的测定”<br> <strong>ISO230-7</strong>，机床测试规范第 7 部分，“旋转轴的几何精度”<br> <strong>JIS B 6190-7</strong>，机床测试规范第 7 部分，“旋转轴的几何精度”</p>
</div>

<div class="card" style="margin-top:10px; margin-bottom:10px;">
  <div class="card-header bg-light">选择步骤</div>
  <div class="card-body"  style="padding:0px;">
    <%= tag.img src:"http://localhost:3000/images/sea-5.png", style: "width: 100%; height: auto; margin-left:auto; margin-right:auto; display: block;" %>
  </div>
</div>

<div class="card" style="margin-top:10px; margin-bottom:10px;">
  <div class="card-header bg-light">详细数据</div>
  <div class="card-body"  style="padding:0px;">
    <%= tag.img src:"http://localhost:3000/images/sea-6.png", style: "width: 100%; min-height: 800px; margin-left:auto; margin-right:auto; display: block;" %>
  </div>
</div>
<br>
<p>欲了解更多详细信息，请联系我们:<b style="color: lightblue;">saintbayauto@163.com</b></p>
<br>
