<!DOCTYPE html>
<html>
  <head>
    <%= render 'shared/head' %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/notices' %>

    <div class="container" style="padding-top:0px; padding-left: 0px;">
      <%= yield %>
    </div>

    <%= render 'shared/footer' %>
  </body>
</html>
